<footer class="w-full">
  <div class="flex w-full flex-row flex-wrap items-center justify-center gap-x-12 gap-y-3 text-center md:justify-between">
  <img src="IMAA.png" alt="brand" class="w-8" />
    <ul class="flex flex-wrap items-center gap-x-6 gap-y-2">
      <li>
        <a href="#" class="font-sans antialiased text-sm text-current hover:text-stone-500">Sobre Nosotros</a>
      </li>
      <li>
        <a href="#" class="font-sans antialiased text-sm text-current hover:text-stone-500">Licencia</a>
      </li>
      <li>
        <a href="#" class="font-sans antialiased text-sm text-current hover:text-stone-500">Contactanos</a>
      </li>
    </ul>≠
  </div>
  <hr class="my-4 border-stone-200" />
  <p class="font-sans antialiased text-sm text-current text-center">© 2025 IMAA. Todos los derechos reservados.</p>
</footer>
